.navbar {
    height: 5rem;
    background: var(--gray-50);
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    align-items: left;
    justify-content: flex-end;
    padding: 0 var(--spacing-xl);
    position: sticky;
    top: 0;
    z-index: 10;
}

.userProfile {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    cursor: pointer;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-md);
    transition: background-color var(--transition-fast);
}

.userProfile:hover {
    background-color: var(--gray-50);
}

.userInfo {
    text-align: left;
}

.userName {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-primary);
}

.userRole {
    display: block;
    font-size: 0.75rem;
    color: var(--text-secondary);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary-100);
    /* Color suave de fondo */
    color: var(--primary-600);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.125rem;
    border: 2px solid var(--primary-200);
}