.dashboardContainer {
    display: flex;
    min-height: 100vh;
    background: var(--gray-50);
    /* Fondo gris claro suave */
}

.mainContentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 280px;

}

.mainContent {
    flex: 1;
    padding: var(--spacing-xl);
    overflow-y: auto;
}